.site-brand-wrapper {
  position: relative;
}

.site-meta {
  padding: 20px 0;
  color: white;
  // background: $black-deep;
  background: url(/images/bg7.gif) //如果是图片就打开下面的注释
  // background-size: cover;
  // background-repeat: no-repeat;

  +tablet() {
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
  }
  +mobile() {
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
  }
}

.brand {
  padding: 0;
  background: none;

  &:hover { color: white; }
}

.site-subtitle {
  margin: 10px 10px 0;
  font-weight: initial;
}

.site-search form { display: none; }
